$primary-color : #EF6A1B

// LIGHT GREY COLORS
//$grey : #c9c9c9
//$light-grey : #e3e3e3
//$light-blue : #9ad3de
//$blue : #89bdd3


// DARK GREY COLORS

$light-blue : #9ad3de
$blue : #89bdd3


// Colors
$hover-color : #EF6A1B
$grey : #222222
$light-grey : #333333

.icon-php
  background-image: url('../../assets/images/icon-php.png')
  background-position: center center
  background-repeat: no-repeat
.icon-js
  background-image: url('../../assets/images/icon-javascript.png')
  background-position: center center
  background-repeat: no-repeat

// Typography
h1
  font-size: 52px
  font-family: 'Open Sans', sans-serif
  margin: 0
  font-weight: 500
h3
  font-size: 38px
  font-family: 'Open Sans', sans-serif
  margin: 0
  font-weight: 300
h4
  font-size: 24px
  font-family: 'Open Sans', sans-serif
  margin: 0
  font-weight: 300
p
  font-size: 18px
  font-weight: 300
  line-height: 32px
  letter-spacing: 1px


// Miscellaneous
*
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif

html


// Set text selection color
::selection
  background: $hover-color
  color: #ffffff
::-moz-selection
  background: $hover-color
  color: #ffffff

.no-padding
  padding: 0

.divider
  margin: 50px auto
  max-width: 100px
  border-color: #000000

.page-container
  position: relative
  margin-top: 60px

// Page header
#page-header
  position: relative
  width: 100%
  height: 550px
  margin-top: 60px
  overflow: hidden
  padding: 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  .overlay
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(0,0,0,0.3)
    .title
      h1
        text-transform: uppercase
        text-align: center
        color: #ffffff
      .divider
        border-color: #ffffff
    .quote
      padding: 0 120px
      p
        text-align: center
        color: #ffffff
        font-size: 28px
        font-weight: 300
        letter-spacing: 1px
        line-height: 40px
      .quote-author
        font-size: 18px
  img
    width: 100%


.middle-wrap
  width: 100%
  height: 100%
  display: table

.middle-wrap-inner
  width: 100%
  height: 100%
  display: table-cell
  vertical-align: middle

#go-to-top
  display: table
  position: fixed
  width: 60px
  height: 60px
  right: 0
  bottom: 0
  z-index: 4000
  cursor: pointer
  background: $light-grey
  color: #ffffff
  -webkit-transition: .3s ease-in-out
  -moz-transition: .3s ease-in-out
  -o-transition: .3s ease-in-out
  transition: .3s ease-in-out
  i
    position: relative
    top: 0
    display: table-cell
    vertical-align: middle
    text-align: center
    font-size: 17px
    color: #ffffff
    -webkit-transition: .3s ease-in-out
    -moz-transition: .3s ease-in-out
    -o-transition: .3s ease-in-out
    transition: .3s ease-in-out
#go-to-top:hover
  background-color: $hover-color
  i
    top: -5px

@import "parts/buttons"
@import "parts/nav"
@import "parts/responsive"
@import "parts/footer"
@import "parts/home"
@import "parts/portfolio"
@import "parts/portfolio-single"
@import "parts/skills"
@import "parts/contact"
