$primary-color : #EF6A1B

// LIGHT GREY COLORS
//$grey : #c9c9c9
//$light-grey : #e3e3e3
//$light-blue : #9ad3de
//$blue : #89bdd3

// DARK GREY COLORS

$grey : #222222
$light-grey : #333333
$light-blue : #9ad3de
$blue : #89bdd3

// Typography
h1
  font-size: 52px
  font-family: 'Open Sans', sans-serif
  margin: 0
  font-weight: 500
h3
  font-size: 38px
  font-family: 'Open Sans', sans-serif
  margin: 0
p
  font-size: 18px
  font-weight: 300
  line-height: 32px
  letter-spacing: 1px


// Miscellaneous
*
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif

html
  overflow: hidden !important

.divider
  margin: 50px auto
  max-width: 100px
  border-color: #000000

.button-black
  position: relative
  width: 200px
  height: 44px
  display: table
  border: 1px solid $grey
  text-align: center
  cursor: pointer
  line-height: normal
  font-size: 14px
  .txt
    display: table-cell
    vertical-align: middle
    position: relative
    z-index: 1000
    text-transform: uppercase
    color: $grey
    font-weight: 300
    -webkit-transition: color 0.3s ease-in-out
    -moz-transition: color 0.3s ease-in-out
    -o-transition: color 0.3s ease-in-out
    transition: color 0.3s ease-in-out
    input
      background: none
      border: none
      text-transform: uppercase
      color: inherit
      width: 100%
      height: 100%
  .bg
    position: absolute
    background: $grey
    top: 0
    left: 0
    width: 0%
    height: 100%
    -webkit-transition: width 0.3s ease-in-out
    -moz-transition: width 0.3s ease-in-out
    -o-transition: width 0.3s ease-in-out
    transition: width 0.3s ease-in-out
.button-black:hover
  text-decoration: none
  .txt
    color: #ffffff
  .bg
    width: 100%



#page-header
  position: relative
  width: 100%
  height: 500px
  overflow: hidden
  padding: 0
  margin-bottom: 100px
  .overlay
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(0,0,0,0.3)
    .title
      h1
        text-align: center
        color: #ffffff
        font-size: 52px
        font-weight: 500
      hr
        margin: 50px auto
        max-width: 100px
        border-color: #ffffff
    .quote
      padding: 0 120px
      p
        text-align: center
        color: #ffffff
        font-size: 28px
        font-weight: 300
        letter-spacing: 1px
      .quote-author
        font-size: 18px

  img
    width: 100%

#page-container
  margin-left: 60px


.middle-wrap
  width: 100%
  height: 100%
  display: table

.middle-wrap-inner
  width: 100%
  height: 100%
  display: table-cell
  vertical-align: middle

#go-to-top
  display: table
  position: fixed
  width: 40px
  height: 40px
  right: 20px
  bottom: 20px
  z-index: 4000
  cursor: pointer
  border-radius: 40px
  border: 1px solid rgba(0,0,0,0.1)
  background-color: $blue
  -webkit-transition: .3s ease-in-out
  -moz-transition: .3s ease-in-out
  -o-transition: .3s ease-in-out
  transition: .3s ease-in-out
  i
    position: relative
    top: 0
    display: table-cell
    vertical-align: middle
    text-align: center
    font-size: 17px
    color: #ffffff
    -webkit-transition: .3s ease-in-out
    -moz-transition: .3s ease-in-out
    -o-transition: .3s ease-in-out
    transition: .3s ease-in-out
#go-to-top:hover
  background-color: $light-blue
  i
    top: -5px

@import "parts/nav"
@import "parts/footer"
@import "parts/portfolio"
@import "parts/portfolio-single"
@import "parts/skills"
@import "parts/contact"

























//.portfolio-container
//  height: 100%
//  float: left
//  margin-left: 60px
//  overflow-x: scroll
//
//.scrollable-container
//  position: relative
//  height: 100%
//  a
//    cursor: default
//
//.portfolio-item
//  position: absolute
//  height: 100%
//  left: 0
//  -webkit-transition: .3s ease-in-out
//  -moz-transition: .3s ease-in-out
//  -o-transition: .3s ease-in-out
//  transition: .3s ease-in-out
//
//  color: #ffffff
//
//  background-position: center
//  background-repeat: no-repeat
//  background-size: cover
//
//  .item-head
//    height: 100%
//
//    .band
//      display: none
//      position: relative
//      height: 300px
//      width: 400px
//      margin: 0 auto
//      z-index: 20
//      background-color: #222222
//      text-align: center
//      border: 1px solid rgba(0,0,0,0.3)
//      .divider
//        display: block
//        width: 100px
//        height: 3px
//        margin: 20px auto
//        background-color: #ffffff
//      h1
//        font-weight: 500
//      h4
//        font-weight: 100
//
//    .overlay
//      position: absolute
//      width: 100%
//      height: 100%
//      top: 0
//      left: 0
//      z-index: 10
//      opacity: 1
//      -webkit-transition: .3s ease-in-out
//      -moz-transition: .3s ease-in-out
//      -o-transition: .3s ease-in-out
//      transition: .3s ease-in-out
//    .overlay-hide
//      opacity: 0 !important
//
//.item-case
//  display: none
//  position: relative
//  width: 100%
//  height: 500px
//  padding: 0 50px
//
//
//  .half
//    position: relative
//    width: 50%
//    float: left



