.main-menu
  position: fixed
  width: 100%
  height: 60px
  top: 0
  z-index: 3000
  background-color: $grey
  border-bottom: 1px solid $light-grey
  ul
    margin: 0
    position: relative
    list-style-type: none
    li
      position: relative
      float: left
      a
        display: block
        position: relative
        color: #ffffff
        padding: 20px 25px
        font-size: 14px
        text-transform: uppercase
        text-decoration: none
        z-index: 10
      .bg
        position: absolute
        top: 0
        left: 0
        width: 0%
        height: 100%
        background-color: $light-grey
        -webkit-transition: .3s ease-in-out
        -moz-transition: .3s ease-in-out
        -o-transition: .3s ease-in-out
        transition: .3s ease-in-out
    li:hover
      a
        color: $hover-color
      .bg
        width: 100%

  .menu-social
    position: relative
    float: right
    height: 60px
    ul
      margin-bottom: 0
      li
        position: relative
        float: left
        a
          position: relative
          z-index: 2
          color: #ffffff
          display: block
          text-align: center
        .bg
          position: absolute
          top: 0
          left: 0
          width: 0%
          height: 100%
          z-index: 1
          background-color: $light-grey
          -webkit-transition: .3s ease-in-out
          -moz-transition: .3s ease-in-out
          -o-transition: .3s ease-in-out
          transition: .3s ease-in-out
      li:hover
        a
          color: $hover-color
        .bg
          width: 100%



